<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
</head>
<body>
<!-- error messages for validation -->
{% if messages %}
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}
{% endif %}
<h2>Registration</h2>
<!-- route is /register, method is post -->
<form action="/register" method="post">
	{% csrf_token %}
	<label>First Name:</label><input type="text" name="first"><br><br>
	<label>Last Name:</label><input type="text" name="last"><br><br>
	<label>Email:</label><input type="email" name="email"><br><br>
	<label>Password:</label><input type="password" name="password"><br><br>
	<label>Confirm Password:</label><input type="password" name="confirm"><br><br>
	<input type="submit" value="Register">
</form>
<h2>Login</h2>
<!-- route is /login, method is post -->
<form action="/login" method="post">
	{% csrf_token %}
	<label>Email:</label><input type="text" name="email"><br><br>
	<label>Password:</label><input type="password" name="password"><br><br>
	<input type="submit" value="Login">
</form>
</body>
</html>